@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
    list-style: none;
}

:root {
    --lighter-gray: #f0f0f0;
    --lighter-pink: #f4abd0;
    --primary-pink: #f50066;
    --deep-purple: #4e243d;
    --normal-purple: #a3009d;
    --normal-green: #00d72f;
}

section.login .login-wrapper {
    display: flex;
}

section.login .login-bg {
    width: 65%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.login-or-register {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.wrapper-padding {
    padding: max(15px, 1vw);
}

.login-or-register .logo-login {
    display: flex;
    justify-content: center;
}

.login-or-register .logo-login img{
    width: max(20px, 45%);
}

.login-or-register .continue-login {
    font-weight: bold;
    font-size: max(14px, .8vw);
    margin: max(15px, 2vw) 0;
    text-align: center;
}

.login-or-register form p {
    font-size: max(14px, .9vw);
    padding: max(5px, .2vw) 0;
    margin: 0;
}

.login-or-register input[type=text] {
    width: 100%;
    border: 0;
    border-bottom: max(1px, .1vw) solid black;
    outline: none;
    padding-bottom: max(2px, .3vw);
}

.placeholder-text::placeholder {
    font-size: max(10px, .7vw);
}

.keep-or-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-or-register .keep-or-forgot {
    padding: max(14px, .5vw) 0;
    font-size: max(12px, .4vw);
}

.login-or-register .keep-or-forgot a {
    color: black;
    text-decoration: none;
}

.login-or-register input[type=submit] {
    width: 100%;
    padding: max(7px, .3vw);
    font-size: max(14px, 1vw);
    color: white;
    background-color:var(--primary-pink);
    border-radius: max(8px, .1vw);
    border: 0;
    cursor: pointer;
}

.google-or-face {
    margin-top: max(14px, 1.2vw);
    border-top: max(1px, .1vw) solid gray;
}

.google-or-face button {
    width: 100%;
    padding: max(7px, .3vw);
    border-radius: max(14px, 1.5vw);
    font-size: max(13px, .8vw);
    border: max(1px, .1vw) solid gray;
    cursor: pointer;
}

.google-or-face .google-login button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.google-or-face .google-login{
    margin: max(10px, 1vw) 0;
}

.google-or-face .google-login img {
    margin-right: max(7px, .1vw);
    width: max(14px, 1.3vw);
}

.google-or-face .face-login {
    border-bottom: max(1px, .1vw) solid gray;
}

.google-or-face .face-login button{
    padding: max(10px, .5vw) 0;
    margin-bottom: max(14px, 1.5vw);
    background-color: #1976d2;
    color: white;
    border: 0;
}

.google-or-face .face-login i {
    margin-right: max(7px, .1vw);
    font-size: max(14px, 1vw);
}

.register-now {
    width: 100%;
    margin: max(10px, .8vw) 0;
}

.register-now span {
    font-size: max(12px, .5vw);
}

.register-now span a{
    padding-left: max(3px, .1vw);
    color: var(--primary-pink);
    text-decoration: none;
}

section.menu-content {
    display: flex;
    background: var(--lighter-gray);
}

.sidebar {
    width: 20%;
    background: white;
}

.sidebar .logo-menu {
    padding: max(15px, 3vw) 0;
    text-align: center;
}

.sidebar .logo-menu img {
    width: max(20px, 50%);
}

.sidebar nav {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar ul {
    padding: 0;
}

.sidebar ul li {
    padding: max(10px, .8vw) max(14px, 3vw);
}

.sidebar .selected {
    background: linear-gradient(45deg, white, rgba(255, 20, 145, 0.151));
    border-right: max(2px, .2vw) solid deeppink ;
    font-weight: bolder;
}

.sidebar ul li a {
    text-decoration: none;
    color: #4e243d;
}

.sidebar ul li a i {
    font-size: max(12px, .9vw);
}

.sidebar ul li a span{
    font-size: max(12px, .9vw);
}

.content {
    width: 80%;
    padding: max(14px, 2vw);
}

.dashboard .welcome-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard .welcome-user p {
    font-size: max(14px, 1.2vw);
    font-weight: bold;
}

.dashboard .user-card{
    display: flex;
    flex-direction: column;
    padding: max(10px, .5vw) max(14px, 1vw);
    background: white;
    border-radius: max(7px, .5vw);
}

.user-card .card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard .user-card img {
    max-width: max(50px, 2vw);
}

.dashboard .user-info {
    display: flex;
    align-items: center;
}

.user-info .user-id {
    padding-right: max(14px, 2vw);
    padding-left: max(10px, .5vw);

}

.dashboard .user-info p {
    font-size: max(10px, .9vw);
}

.dashboard .user-info span {
    font-size: max(10px, .5vw);
    font-weight: lighter;
}

.user-card i {
    font-size: max(14px, 1vw);
    cursor: pointer;
}