@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
    list-style: none;
}

:root {
    --lighter-gray: #f0f0f0;
    --lighter-pink: #f4abd0;
    --primary-pink: #f50066;
    --deep-purple: #4e243d;
    --normal-purple: #a3009d;
    --normal-green: #00d72f;
}

section.login .login-wrapper {
    display: flex;
}

section.login .login-bg {
    width: 65%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.login-or-register {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.wrapper-padding {
    padding: max(15px, 1vw);
}

.login-or-register .logo-login {
    display: flex;
    justify-content: center;
}

.login-or-register .logo-login img{
    width: max(20px, 45%);
}

.login-or-register .continue-login {
    font-weight: bold;
    font-size: max(14px, .8vw);
    margin: max(15px, 2vw) 0;
    text-align: center;
}

.login-or-register form p {
    font-size: max(14px, .9vw);
    padding: max(5px, .2vw) 0;
    margin: 0;
}

.login-or-register input[type=text] {
    width: 100%;
    border: 0;
    border-bottom: max(1px, .1vw) solid black;
    outline: none;
    padding-bottom: max(2px, .3vw);
}

.placeholder-text::placeholder {
    font-size: max(10px, .7vw);
}

.keep-or-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-or-register .keep-or-forgot {
    padding: max(14px, .5vw) 0;
    font-size: max(12px, .4vw);
}

.login-or-register .keep-or-forgot a {
    color: black;
    text-decoration: none;
}

.login-or-register input[type=submit] {
    width: 100%;
    padding: max(7px, .3vw);
    font-size: max(14px, 1vw);
    color: white;
    background-color:var(--primary-pink);
    border-radius: max(8px, .1vw);
    border: 0;
    cursor: pointer;
}

.google-or-face {
    margin-top: max(14px, 1.2vw);
    border-top: max(1px, .1vw) solid gray;
}

.google-or-face button {
    width: 100%;
    padding: max(7px, .3vw);
    border-radius: max(14px, 1.5vw);
    font-size: max(13px, .8vw);
    border: max(1px, .1vw) solid gray;
    cursor: pointer;
}

.google-or-face .google-login button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.google-or-face .google-login{
    margin: max(10px, 1vw) 0;
}

.google-or-face .google-login img {
    margin-right: max(7px, .1vw);
    width: max(14px, 1.3vw);
}

.google-or-face .face-login {
    border-bottom: max(1px, .1vw) solid gray;
}

.google-or-face .face-login button{
    padding: max(10px, .5vw) 0;
    margin-bottom: max(14px, 1.5vw);
    background-color: #1976d2;
    color: white;
    border: 0;
}

.google-or-face .face-login i {
    margin-right: max(7px, .1vw);
    font-size: max(14px, 1vw);
}

.register-now {
    width: 100%;
    margin: max(10px, .8vw) 0;
}

.register-now span {
    font-size: max(12px, .5vw);
}

.register-now span a{
    padding-left: max(3px, .1vw);
    color: var(--primary-pink);
    text-decoration: none;
}

section.menu-content {
    display: flex;
    background-color:#f8f8f8 ;
}

.sidebar {
    width: 20%;
    background: white;
}

.sidebar .logo-menu {
    padding: max(15px, 3vw) 0;
    text-align: center;
}

.sidebar .logo-menu img {
    width: max(20px, 50%);
}

.sidebar nav {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar ul {
    padding: 0;
}

.sidebar ul li {
    padding: max(10px, .8vw) max(14px, 3vw);
}

.sidebar .selected {
    background: linear-gradient(45deg, white, rgba(255, 20, 145, 0.151));
    border-right: max(2px, .2vw) solid deeppink ;
    font-weight: bolder;
}

.sidebar ul li a {
    text-decoration: none;
    color: #4e243d;
}

.sidebar ul li a i {
    font-size: max(12px, .9vw);
}

.sidebar ul li a span{
    font-size: max(12px, .9vw);
}

.content {
    width: 80%;
    padding: max(14px, 2vw);
}

.dashboard .welcome-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: max(1px, .1vw) solid var(--lighter-gray);
    padding-bottom: max(14px, 1.5vw);
    margin-bottom: max(14px, 1.5vw);
}

.dashboard .welcome-user p {
    font-size: max(14px, 1.2vw);
    font-weight: bold;
}

.dashboard .user-card{
    display: flex;
    flex-direction: column;
    padding: max(10px, .5vw) max(14px, 1vw);
    background: white;
    border-radius: max(7px, .5vw);
}

.user-card .card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard .user-card img {
    width: max(50px, 2vw);
    border-radius: max(7px, .8vw);
}

.dashboard .user-info {
    display: flex;
    align-items: center;
}

.user-info .user-id {
    padding-right: max(14px, 2vw);
    padding-left: max(10px, .5vw);
}

.dashboard .user-info p {
    font-size: max(10px, .9vw);
}

.dashboard .user-info span {
    font-size: max(10px, .5vw);
    font-weight: lighter;
}

.user-card i {
    font-size: max(14px, 1vw);
    cursor: pointer;
}

.dashboard-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: max(14px, 1.5vw);
}

.dashboard-buttons p {
    font-size: max(15px, 1.4vw);
    font-weight: bold;
}

.dashboard-buttons .btns button{
    font-size: max(12px, 1vw);
    padding:max(4px, .4vw) max(14px, 2.5vw);
    border: 0;
    border-radius: max(3px, .2vw);
    background: white;
    margin-left: max(5px, .2vw);
    color: var(--deep-purple);
    cursor: pointer;
}

.dashboard-buttons .btns .active {
    background: var(--primary-pink);
    color: white;
}

.dashboard-left {
    width: 50%;
}

.chart-content {
    padding: max(14px, 2vw);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: max(5px, .5vw);
}

.chart-content .revenue {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: max(14px, 2vw);
}

.chart-content p {
    font-size: max(14px, 1.2vw);
    font-weight: bold;
}

.chart-content span {
    font-size: max(14px, 1.2vw);
    color: var(--deep-purple);
}

.dashboard-content {
    display: flex;
    flex-wrap: wrap;
}

.dashboard-content .dashboard-card {
    border-radius: max(5px, 0.5vw);
    padding: max(14px, 2vw);
}

.dashboard-left .dashboard-card {
    background-color: white;
    margin: max(15px, 2vw) 0;
}

.dashboard-left .campaigns h5 {
    font-size: max(16px, 1.2vw);
    padding-bottom: max(20px, 1vw);
    margin-bottom: max(20px, 1vw);
    border-bottom: max(1px, .1vw) solid var(--lighter-gray);
}

.campaigns .table-chart {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.campaigns table {
    border-collapse: collapse;
    width: 60%;
}

.campaigns table thead {
    background-color: var(--lighter-gray);
}

.campaigns table .text-right {
    text-align: right;
    padding-right: max(20px, 3vw);
}

.campaigns table .text-center {
    text-align: center;
}

.campaigns table td {
    font-size: max(12px, .8vw);
}

.campaigns table thead td {
    padding: max(3px, .8vw);
}

.campaigns .status {
    padding-left: max(20px, 3vw);
}

.campaigns table tbody td {
    padding: max(3px, .3vw) max(5px, 1vw);
}

.campaigns .dflex {
    display: flex;
    align-items: center;
}

.campaigns table .status-color {
    display: inline-block;
    margin-right: max(5px, .5vw);
    width: max(15px, 1.8vw);
    height: max(10px, 1vw);
    border-radius: max(4px, .4vw);
}

.campaigns .approved {
    background-color: var(--primary-pink);
}

.campaigns .rejected {
    background-color: var(--deep-purple);
}

.campaigns .pending {
    background-color: var(--normal-purple);
}

.campaigns .in-progress {
    background-color: var(--lighter-pink);
}

.campaigns .doughnutChartArea {
    width: 30%;
}

.dashboard-right {
    width: 50%;
    padding-left: 1.5vw;
}

.dashboard-right .right-cards {
    display: flex;
    flex-wrap: wrap;
}

.right-cards .right-card {
    width: 50%;
    margin-bottom: max(10px, 1vw);
}

.right-cards .right-card:nth-of-type(1){
    padding-right: max(10px, 1vw);
}

.right-cards .right-card .dashboard-card {
    min-height: 13vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.right-cards .right-card .card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: max(20px, 2vw);
}

.right-card .card-top .metric-up {
    color: var(--normal-green);
}

.right-card .card-top .metric-down {
    color: red;
}

.right-card .card-top img {
    width: max(50px, 3vw);
}

.right-card .card-top p {
    font-size: max(15px, 1vw);
    font-weight: bold;
}

.right-card .card-top i{
    margin-right: max(3px, .3vw);
}

.right-cards .right-card .total-revenue {
    color: white;
}

.total-revenue p {
    font-size: max(16px, 1.3vw);
    letter-spacing: max(1px, .1vw);
    margin-bottom: max(5px, .5vw);
}

.total-revenue span {
    font-weight: lighter;
    font-size: max(15px, 1vw);
}

.right-cards .right-card .views{
    color: var(--deep-purple);
}

.right-card .views .visits {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.right-card .views .visits-data p {
    font-size: max(20px, 2vw);
    margin-bottom: max(5px, 0.5vw);
    font-weight: bold;
}

.right-card .views .visits-data span {
    font-size: max(16px, 1vw);
}

.right-card .views .visits .live {
    font-size: max(14px, .9vw);
    display: flex;
    align-items: center;
    background-color: rgba(245, 0, 102, 0.4);
    color: white;
    padding: max(1px, .1vw) max(5px, 1vw);
    border-radius: max(10px, 1vw);
}

.right-card .views .visits .live span {
    display: inline-block;
    width: max(4px, .4vw);
    height: max(4px, .4vw);
    background-color: red;
    border-radius: 50%;
    margin-left: max(2px, .2vw);
}

.sales-panel {
    overflow: auto;
}

.sales-panel table {
    width: 100%;
    background-color: white;
    font-size: max(10px, .7vw);
    text-align: center;
    border-radius: max(7px, .7vw);
    border-collapse: collapse;
}

.sales-panel table thead tr td{
    padding: max(14px, 1vw);
    border-bottom: max(1px, .1vw) solid #f8f8f8;
}

.sales-panel table tbody tr td {
    padding: max(14px, 1vw);
    border-bottom: max(1px, .1vw) solid #f8f8f8;
}

.sales-panel .panel-img {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.sales-panel .panel-img img {
    width: max(12px, 1vw);
    margin-right: max(2px, .2vw);
}

.sales-panel .approved {
    display: inline-block;
    width: max(4px, .4vw);
    height: max(4px, .4vw);
    background-color: #00d72f;
    border-radius: 50%;
    margin-left: max(2px, .2vw);
}